@import url('https://fonts.googleapis.com/css?family=Yellowtail');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');


body {
  background-color: lightgrey;
}

#title {
  font-family: 'Yellowtail', cursive;
  text-align: center;
  font-size: 60px;
  color: lightgrey;
  background-color: #2A2124;
  width: 100%;
  height: 90px;
  padding-top: 10px;
}

#pipe-control {
  width: 30%;
}

#master {
  width: 50%;
  margin-left: 25%;
}

#add-food-here {
  margin-top: 40px;
}

.food-name {
  font-family: 'Source Code Pro', monospace;
  font-size: 24px;
}

.food-description {
  font-family: 'Source Code Pro', monospace;
  font-size: 18px;
}

.food-calories {
  color: #63c900;
}
